{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">I'm glad you stopped in.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I'm James! Welcome to my first fully functional website!
        </p>
        <p>
          I've been studying Python for about a year now and created this website from
          lessons in my studies.  I plan to add my accomplishments to this website as a fun
          way to track my progress!
        </p>
        <p>
          I hope you enjoy it!  Please feel free to drop a comment on my posts if something particularly interests you!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
